doctype html
html
  head
    title #{title}
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 #{data ? "Update Deal Object" : "Create Deal Object"}
    a(href="/deals") Return to homepage
    form(method="POST" action=data ? `/update-cobj?id=${data.id}` : "/update-cobj")
      .inputDiv
        label Deal Name:
        input(type="text" name="dealname" value=data ? data.properties.dealname : '')
      .inputDiv
        label Description:
        input(type="text" name="description" value=data ? data.properties.description : '')
      .inputDiv
        label Deal Stage:
        select(name="dealstage")
          option(value="appointmentscheduled" selected=data && data.properties.dealstage === 'appointmentscheduled') appointmentscheduled
          option(value="qualifiedtobuy" selected=data && data.properties.dealstage === 'qualifiedtobuy') qualifiedtobuy
          option(value="presentationscheduled" selected=data && data.properties.dealstage === 'presentationscheduled') presentationscheduled
      .inputDiv
        label Amount:
        input(type="number" name="amount" value=data ? data.properties.amount : '')
      button(type="submit") #{data ? "Update" : "Create"}
